
@{
    ViewBag.Title = "Checked";
}

<h2>Checked</h2>
<center>
    <br />
    <h2 style="color:#ff0000; background-color:#0bd325">RESULT</h2>
    <br />
    <div>
        <h1 style="color:#ff0000">@ViewBag.Message</h1>
    </div>
</center>

